!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Quiz"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    = stylesheet_link_tag "application_desktop", media: "all"
    / <link rel="icon" href="/favicon.ico" type="image/x-icon">
    / <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  %body{class: "#{@layout_carrier.class_for_body}"}
    .navbar.navbar-default.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} Quiz
        .navbar-collapse.collapse
          = render 'shared/nav'
    .container.page
      .row
        .col-sm-12
          = bootstrap_flash
          = yield
    %footer
      / for footer
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application_desktop"
